<h1>Find out if your entries are a rectangle</h1>

<form action="/square">
  <div class="form-group">
    <label for="length">Length of your square</label>
    <input id = "length" type="text" name="length" class="form-control">
  </div>
  <div class="form-group">
    <label for="width">Width of your rectangle</label>
    <input id = "width" type="text" name="width" class="form-control">
  </div>
  <button type="submit">Go!</button>
</form>
